.contact{
    width: 100%;
    padding: 6rem 1rem;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 6rem auto;
    text-align: center;
    align-items: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.dec {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    padding: 12px 20px;
    background-color: #080808;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #080808cc;
}

button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-bottom: 15px;
}
